
{% extends "layouts/base.html" %}
{% block content %}

<h1>Serach Results</h1>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>title</th>
        <th>author</th>
    </tr>
    {% if books %}

    {% for book in books  %}
    <tr>
        <td>
            {{book.title}}
        </td>
        <td>
            {{book.author}}
        </td>

    </tr>

    {% endfor %}



{% else %}
<tr>
    <td colspan='2' style='text-align:center'>NO result</td>
</tr>
{% endif %}
</table>
{% endblock content %}