{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit book</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<h3>Adding a new Book</h3>
<form method = "POST">
{% csrf_token %}
<label for="title">Title</label>
<input type="text" id ="title" name="title" value={{book.title}} />
<br>
<label for="author">Author</label>
<input type="text" id ="title" name="author" value={{book.author}} />
<br>
<label for="price">Price (with decimal point)</label>
<input type="num" step='any' id="price" name="price" value={{book.price}} />
<br>
<label for="edition">Edition</label>
<input type="num" id="edition" name="edition" value={{book.edition}} />
<br>
<button type="submit" >Save</button>
</form>
