{% load static %}

<h1 style="background-color: #f5f5dc; color: green; font-weight: bold; padding: 10px; border-radius: 5px;">
    Example of Formatting tags
</h1>
<br>
<b>This text has subtext using strong tag</b>
<br>
<i>This text has subtext using i tag</i>
<br>
<em>This text has subtext using em tags</em>
<br>
<small>This text has subtext using small tag</small>
<br>
This text has <mark>subtext</mark> using small tag
<br>
This text has <del>subtext</del> using del tag
<br>
This text has <ins>subtext</ins> using ins tag
<br>
This text has X<sub>subtext</sub> using sub tag 
<br>
This text has X<sup>subtext</sup> using sub tag 

