{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View students</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    
    {% if user.is_authenticated %}
    <a href="{% url 'books.logoutuser' %}">Logout</a>
    {% endif %}
    <br>
    <a href="{%url 'students.addStudent2'%}" class="button" >Add student</a>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>adress</th>
            <th></th>
            <th></th>
            
        </tr>

        {% for student in students  %}
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>
                    {% for address in student.addresses.all %}
                        {{ address.city }}  
                    {% endfor %}
                </td>
                <td><a href="{% url 'students.editStudent2' student.id %}" class="button" >Edit</a></td>
                <td><a href="{% url 'students.deleteStudent2' student.id %}"  class="button" >Delete</a></td>

            </tr>
        {% endfor %}
    </table>
</body>