{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View students</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <a href="{%url 'books.addBookWithCover'%}" class="button" >Add Book</a>
    <br>
    <table>
        <tr>
            <th>Title</th>
            <th>Path</th>
            
        </tr>

        {% for book in books  %}
            <tr>
                <td>{{book.title}}</td>
                <td>{{book.coverPage}}</td>

            </tr>
        {% endfor %}
    </table>
</body>