{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 2 3 4 </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Edition</th>
        </tr>

        {% if books %}
        {% for book in books  %}
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.price}}</td>
            <td>{{book.edition}}</td>
        </tr>

        {% endfor %}

        {% else %}
        <tr>
            <td colspan="4" style="text-align: center;">No book available</td>
        </tr>

        {% endif %}

    </table>
</body>

</html>